@model kelly.Models.Orders

@{
    ViewData["Title"] = "Details";
}
<body style="background-color: #f1e4bcff;">
<h1>Details</h1>

<div>
    <h4>Orders</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrdersID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrdersID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PickupTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PickupTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>
    </dl>
</div>
    <div style="padding-top:20px;">
        <a class="custom-button"  asp-action="Edit" asp-route-id="@Model?.OrdersID">Edit</a> |
        <a class="custom-button"  asp-action="Index">Back to List</a>
</div>
</body>
