@model IEnumerable<kelly.Models.Orders>

@{
    ViewData["Title"] = "Index";
}
<body style="background-color: #f1e4bcff;">
<h1 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">All Orders</h1>

<p>
    <a style="color:black;" asp-action="Create">Create New</a>
</p>
<form asp-controller="Orders" asp-action="Index" >
    <p>
        <strong>Order status </strong>
        <select style="background-color: #3c763d;color: #ffffff;" name="SearchString">
            <option value="Requested">Request recieved</option>
            <option value="Approved">Approved</option>
            <option value="Awaiting Payment">Payment pending</option>
            <option value="In Progress">Cooking</option>
            <option value="Complete">Completed</option>
            <option value="Cancelled">Cancelled</option>
        </select>

            <input style="background-color: #3c763d;color: #ffffff; border: none;padding: 5px 10px; border-radius: 5px;" 
            type="submit" value="Filter" />

    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrdersID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickupTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrdersID)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickupTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                        <a style="color:#3c763d;" asp-action="Edit" asp-route-id="@item.OrdersID">Edit</a> |
                        <a style="color:#3c763d;" asp-action="Details" asp-route-id="@item.OrdersID">Details</a> |
                        <a style="color:#3c763d;" asp-action="Delete" asp-route-id="@item.OrdersID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>