@model IEnumerable<kelly.Models.Product>

@{
    ViewData["Title"] = "Products";
}
<body style="background-color: #f1e4bcff;">
<h1>Products</h1>

<p>
    <a style="color:black;" asp-action="Create">Create New</a>
</p>

<form asp-controller="Products" asp-action="Index">
    <p>
            <strong>Category</strong> 
            <input style="background-color: #3c763d;color: #ffffff;" type="text" name="SearchString" />
            <input style="background-color: #3c763d;color: #ffffff; border: none;padding: 5px 10px; border-radius: 5px;" type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                        <a style="color:#3c763d;"  asp-action="Edit" asp-route-id="@item.ProductID">Edit</a> |
                        <a style="color:#3c763d;" asp-action="Details" asp-route-id="@item.ProductID">Details</a> |
                        <a style="color:#3c763d;" asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
